body {
  background-color: #202266;
}

#Card{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 40%;
margin: 15% auto auto;

}

.API{
  display: flex;
  order: 3;
  flex-direction: column;
  justify-content: center;
}

#Input{
  display: flex;
  flex-direction: column;
  order: 1;
}

#Output{
  display: flex;
  flex-direction: column;
  order: 2;
}
